PORT=YOUR_PORT_NUMBER

# Prisma DB URL
DATABASE_URL=YOUR_PRISMA_DATABASE_URL

# Session Secret
SESSION_SECRET=YOUR_SESSION_SECRET

# Supabase S3 URL
SUPABASE_DB_URL=YOUR_SUPABASE_DB_URL
SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_ADMIN_KEY=YOUR_SUPABASE_ADMIN_KEY